@charset "UTF-8";

/* Reset some default styles */

body {
    margin: 0;
    background-color: rgba(234, 200, 202, 0.44);
    
}

body {
    margin: 0;
    background-image: url("assets/imageedit_1_7210593864.png");
    background-size: 0.75%;
    background-position:2700px;
    background-attachment: fixed;
    background-color: rgba(234, 200, 202, 0.44);
}

h1{
    padding: 10px;
    color: rgb(120, 112, 120);
    text-align: center;
}

#Home{
    padding: 30px;
    color: rgb(120, 112, 120);
    text-align: center;
}
#Home > p {
    transition: .8s ease-in-out;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    width : 600px;
    height : 100px;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width : 0.5em;
    border-style: solid;
    border-color: rgb(75, 32, 32);
    border-radius: 10px;
    font-size: 1.2em;
    text-align: left;
}
#Home > p:hover{
    color : rgba(61, 9, 68, 0.788) ;
    transition: .8s ease-in-out;
    height: 190px;
    width: 500px;
    font-size: 1.7em;

    

}

#Projeto {
    color: rgb(120, 112, 120);
    transition: .8s ease-in-out;
    padding: 5px;
    display: flex;
    margin : auto;
    width : 90%;
    height : 60%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width : 0.5em;
    border-style: solid;
    border-color: rgb(75, 32, 32);
    border-radius: 10px;
    font-size: 1.2em;
    text-align: left;
    justify-content: space-between;
}

#Projeto #ODS{
    transition: .8 ease-in-out;
    width : 300px;
    height : 300px;
    margin: 10px;

}

#Projeto #ODSImg{
    transition: .8 ease-in-out;
    padding: 0px;
    width:250px;
    font-size: 80%;
    height:300px;
    margin : 10px;
}

#Projeto #Cite{
    font-size: 58%;
    width: 500px;
    height: 300px;
    margin : 10px;
    font-weight: bold;
}

#Equipe {
    display: inline-block;
    width: 100%;
}
#Nos h1{
    color:#531923;
}
#Nos{
    background-color: rgb(160, 84, 51);
    border-radius: 3vh;
}

img.Dan{
    margin: 190px;
}

#imgdesc{
    display: inline-block;
    width: 100%;
}

#Rapha{
    transition: .8s ease-in-out;
    margin-left: 68%;
    margin-top: -7.5%;
    width : 200px;
    height : 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width : 0.2em;
    border-style: solid;
    border-color: rgb(75, 32, 32);
    border-radius: 20px;
    font-size: 0.6em;
    text-align: center;
}

#Dan{
    transition: .8s ease-in-out;
    margin-left : 17%;
    width : 200px;
    height : 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width : 0.2em;
    border-style: solid;
    border-color: rgb(75, 32, 32);
    border-radius: 20px;
    font-size: 0.6em;
    text-align: center;
}

#image, #image2{
    transition: .8s ease-in-out;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
    width : 100px;
    height : 100px;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-width : 0.2em;
    border-style: solid;
    border-color: rgb(75, 32, 32);
    border-radius: 100px;
    font-size: 1.2em;
    text-align: left;
}

#image{
    margin-left: 20%;
}

#image2{
    margin-left: 40%;
}



h2 > a:hover{
    color: rgb(132, 23, 23);
}
h2 > a::after {
    color:#e25068;
}


#Jogo #paragraph{
    color: rgb(120, 112, 120);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    position: relative;
    text-align: center;
    font-weight: bold;
}

/*-----------------------------------------------*/
/* NAVIGATION BAR */

/* Apply styles to the navigation bar */
header {
    background-color: #e25068;
    color: #fff; 
    position: fixed; 
    width: 100%; 
    z-index: 1;
}

nav#navbar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    text-align: center; 
}

nav#navbar li {
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
    display: inline-block; 
    margin-right: 90px; 
    font-size: 1.4em; 
}

nav#navbar a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Text color for links */
    font-weight: bold; /* Make links bold */
}

nav#navbar a:first-child {
    color: rgb(18, 18, 65); /* Customize the style for the first link (Home) */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px 0; 
}


nav#navbar a:hover {
    color: rgb(30, 130, 193);
}
/*--------------------------------------*/
/*FOOTER*/
footer{
    margin-top: 50px;
    width: 100%;
    position: relative;
    display: inline-block; 
    height: 50px;
}
footer nav{
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
    margin-left: 90%; 
    font-size: 0.6em; 
    text-align: right;
    position: absolute;
}

audio{
    width: 200px;
    position:relative;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    nav#navbar li {
        margin-right: 15px; 
        font-size: 1em; 
    }
    #Home {
        font-size: 0.8em;

    }
    h1 {
        font-size: 1.4em;

    }
    #Home > p {
        font-size: 1em;
        width : 50%;
        height : 20%;
        transition: 0.5, ease;
    }

    #Home > p:hover{
        font-size: 1.2em;
        width:60%;
        height:50%;

    }
    #Projeto{
        width: 80%;
        height: 200px;
    }
    #Projeto #ODS{
        width: 100%;
        height: 100%;
    }

    #Projeto #ODSImg {
        width: 30%;
        height: 30%;
    }

    #Projeto #ODS{
        transition: .8 ease-in-out;
        width : 100px;
        height : 100px;
        margin: 5px;
    
    }
    
    #Projeto #ODSImg{
        transition: .8 ease-in-out;
        font-size: 0.3em;
        padding: 0px;
        width:50px;
        height:300px;
        margin : 5px;
    }
    
    #Projeto #Cite{
        font-size: 0.4em;
        width: 350px;
        height: 300px;
        margin : 5px;
    }

    #imgdesc{
        margin-left: 60px;
        font-size: 0.4em;
        width: 100px;
        height: 100px;
    }
    #image , #image2{
        margin-left: 60px;
        width: 50px;
        height: 50px;
        border-width: 5px;
    }


    footer > img{
        font-family: 'Times New Roman', Times, serif;
        font-style:oblique;
        margin-left: 90%; 
        font-size: 0.6em; 
        text-align: right;
        position: absolute;
    }
    audio{
        width: 100px;
        position:relative;
    }
}

